In [8]:
import nltk, re
from nltk.corpus import wordnet
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from collections import Counter

import pandas as pd
import numpy as np
from articles import articles
from preprocessing import preprocess_text

# import CountVectorizer, TfidfTransformer, TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer,TfidfVectorizer

# view article
# print(articles[0])

# preprocess articles
processed_articles = [preprocess_text(article) for article in articles]


# initialize and fit CountVectorizer
vectorizer = CountVectorizer()


# convert counts to tf-idf

counts = vectorizer.fit_transform(processed_articles)
transformer = TfidfTransformer(norm = None)
tfidf_scores_transformed = transformer.fit_transform(counts)
# initialize and fit TfidfVectorizer


vectorizer = TfidfVectorizer(norm = None)
tfidf_scores = vectorizer.fit_transform(processed_articles)
# check if tf-idf scores are equal


if np.allclose(tfidf_scores_transformed.todense(), tfidf_scores.todense()):
  print(pd.DataFrame({'Are the tf-idf scores the same?':['YES']}))
else:
  print(pd.DataFrame({'Are the tf-idf scores the same?':['No, something is wrong :(']}))


# get vocabulary of terms
try:
  feature_names = vectorizer.get_feature_names()
except:
  pass

# get article index
try:
  article_index = [f"Article {i+1}" for i in range(len(articles))]
except:
  pass

# create pandas DataFrame with word counts
try:
  df_word_counts = pd.DataFrame(counts.T.todense(), index=feature_names, columns=article_index)
  print(df_word_counts)
except:
  pass

# create pandas DataFrame(s) with tf-idf scores
try:
  df_tf_idf = pd.DataFrame(tfidf_scores_transformed.T.todense(), index=feature_names, columns=article_index)
  print(df_tf_idf)
except:
  pass

try:
  df_tf_idf = pd.DataFrame(tfidf_scores.T.todense(), index=feature_names, columns=article_index)
  print(df_tf_idf)
except:
  pass

# get highest scoring tf-idf term for each article
for i in range(1,10):
  print(df_tf_idf[[f'Article {i}']].idxmax())

  Are the tf-idf scores the same?
0                             YES
        Article 1  Article 2  Article 3  Article 4  Article 5  Article 6  \
abbasi          0          0          0          1          0          0
abide           1          0          0          0          0          0
about           0          0          0          0          0          0
accord          0          0          1          0          0          0
add             1          0          0          0          0          0
...           ...        ...        ...        ...        ...        ...
world           0          0          0          0          0          3
would           0          0          0          1          0          0
year            0          1          0          0          0          0
yi              0          0          0          0          0          0
yuan            0          0          0          0          0          0

        Article 7  Article 8  Article 9  Article 10
abbasi          0          0          0           0
abide           0          0          0           0
about           1          0          0           0
accord          0          0          0           0
add             0          0          1           0
...           ...        ...        ...         ...
world           0          0          0           0
would           0          0          1           0
year            0          0          0           0
yi              0          0          0           2
yuan            0          0          0           2

[353 rows x 10 columns]
        Article 1  Article 2  Article 3  Article 4  Article 5  Article 6  \
abbasi   0.000000   0.000000   0.000000   2.704748        0.0   0.000000
abide    2.704748   0.000000   0.000000   0.000000        0.0   0.000000
about    0.000000   0.000000   0.000000   0.000000        0.0   0.000000
accord   0.000000   0.000000   2.704748   0.000000        0.0   0.000000
add      2.299283   0.000000   0.000000   0.000000        0.0   0.000000
...           ...        ...        ...        ...        ...        ...
world    0.000000   0.000000   0.000000   0.000000        0.0   8.114244
would    0.000000   0.000000   0.000000   2.299283        0.0   0.000000
year     0.000000   2.704748   0.000000   0.000000        0.0   0.000000
yi       0.000000   0.000000   0.000000   0.000000        0.0   0.000000
yuan     0.000000   0.000000   0.000000   0.000000        0.0   0.000000

        Article 7  Article 8  Article 9  Article 10
abbasi   0.000000        0.0   0.000000    0.000000
abide    0.000000        0.0   0.000000    0.000000
about    2.704748        0.0   0.000000    0.000000
accord   0.000000        0.0   0.000000    0.000000
add      0.000000        0.0   2.299283    0.000000
...           ...        ...        ...         ...
world    0.000000        0.0   0.000000    0.000000
would    0.000000        0.0   2.299283    0.000000
year     0.000000        0.0   0.000000    0.000000
yi       0.000000        0.0   0.000000    5.409496
yuan     0.000000        0.0   0.000000    5.409496

[353 rows x 10 columns]
        Article 1  Article 2  Article 3  Article 4  Article 5  Article 6  \
abbasi   0.000000   0.000000   0.000000   2.704748        0.0   0.000000
abide    2.704748   0.000000   0.000000   0.000000        0.0   0.000000
about    0.000000   0.000000   0.000000   0.000000        0.0   0.000000
accord   0.000000   0.000000   2.704748   0.000000        0.0   0.000000
add      2.299283   0.000000   0.000000   0.000000        0.0   0.000000
...           ...        ...        ...        ...        ...        ...
world    0.000000   0.000000   0.000000   0.000000        0.0   8.114244
would    0.000000   0.000000   0.000000   2.299283        0.0   0.000000
year     0.000000   2.704748   0.000000   0.000000        0.0   0.000000
yi       0.000000   0.000000   0.000000   0.000000        0.0   0.000000
yuan     0.000000   0.000000   0.000000   0.000000        0.0   0.000000

        Article 7  Article 8  Article 9  Article 10
abbasi   0.000000        0.0   0.000000    0.000000
abide    0.000000        0.0   0.000000    0.000000
about    2.704748        0.0   0.000000    0.000000
accord   0.000000        0.0   0.000000    0.000000
add      0.000000        0.0   2.299283    0.000000
...           ...        ...        ...         ...
world    0.000000        0.0   0.000000    0.000000
would    0.000000        0.0   2.299283    0.000000
year     0.000000        0.0   0.000000    0.000000
yi       0.000000        0.0   0.000000    5.409496
yuan     0.000000        0.0   0.000000    5.409496

[353 rows x 10 columns]
Article 1    fare
dtype: object
Article 2    hong
dtype: object
Article 3    sugar
dtype: object
Article 4    petrol
dtype: object
Article 5    engine
dtype: object
Article 6    australia
dtype: object
Article 7    car
dtype: object
Article 8    railway
dtype: object
Article 9    cabinet
dtype: object

In [2]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\jdalm\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [6]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\jdalm\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [7]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\jdalm\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True